<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Cliente</title>
</head>
<body>
    <h1>Consulta de clientes</h1>
    <div th:each="client : ${clients}">
        <div class="row">
<!--            <p> Nome: <span th:text="${client.name}"></span></p>-->
<!--            <p><span th:text="${client.lastName}"></span></p>-->
            <td> <a th:href="@{/{code}(code = ${client.id}) }">
                <span th:text="${client.name}"></span>
                <span th:text="${client.lastName}"></span>
            </a></td>
            <p> Numero: <span th:text="${client.telNumber}"></span></p>
            <p> Endereço: <span th:text="${client.address}"></span></p>
        </div><hr>

    </div>
</body>

</html>
